{{#p-404 }}
{{> partials/general/head }}
{{> partials/components/header }}
<main class="bg-palms bg-palms--adaptive-home">
  {{> partials/components/404-content-line-1 }}
  {{> partials/components/footer }}
</main>
{{> partials/general/foot }}
{{/p-404 }}