{{#p-besterohstoffe }}
{{> partials/general/head }}
{{> partials/components/header }}
{{> partials/components/baner }}
<main class="content-lines-wrapper content-lines-wrapper--margin-top">
  <div class="bg-palms bg-palms--pt-0">
    {{> partials/components/besterohstoffe-content-line-1 }}
    {{> partials/components/produkte-uebersicht-content-line-2 }}
    {{> partials/components/besterohstoffe-content-line-3 }}
    {{> partials/components/produkte-uebersicht-content-line-3 }}
    {{> partials/components/footer }}
  </div>
</main>
{{> partials/general/foot }}
{{/p-besterohstoffe }}