{{#p-hairstyleguide }}
{{> partials/general/head }}
{{> partials/components/header }}
<main class="content-lines-wrapper content-lines-wrapper--margin-top bg-palms">
  {{> partials/components/hairstyleguide-content-line-1 }}
  {{> partials/components/home-content-line-3 }}
  {{> partials/components/produkte-uebersicht-content-line-3 }}
  {{> partials/components/footer }}
</main>
{{> partials/general/foot }}
{{/p-hairstyleguide }}