{{#p-home }}
{{> partials/general/head }}
{{> partials/components/header }}
{{> partials/components/intro-baner }}
<main class="bg-palms bg-palms--adaptive-home">
  {{> partials/components/home-content-line-1 }}
  {{> partials/components/home-content-line-3 }}
  {{> partials/components/produkte-uebersicht-content-line-2 }}
  {{> partials/components/baner-2 }}
  {{> partials/components/produkte-uebersicht-content-line-3 }}
  {{> partials/components/footer }}
</main>
{{> partials/general/foot }}
{{/p-home }}