{{#p-produkte-uebersicht }}
{{> partials/general/head }}
{{> partials/components/header }}
<main class="bg-palms">
  {{> partials/components/produkte-uebersicht-content-line-1 }}
  {{> partials/components/produkte-overview-content-line-1 }}
  {{> partials/components/produkte-uebersicht-content-line-3 }}
  {{> partials/components/footer }}
</main>
{{> partials/general/foot }}
{{/p-produkte-uebersicht }}