{{#p-produkte-detail }}
{{> partials/general/head }}
{{> partials/components/header }}
<main class="bg-home bg-palms">
  {{> partials/components/produkte-detail-content-line-1 }}
  {{> partials/components/produkte-detail-content-line-2 }}
  {{> partials/components/produkte-uebersicht-content-line-2 }}
  {{> partials/components/produkte-uebersicht-content-line-3 }}
  {{> partials/components/footer }}
</main>
{{> partials/general/foot }}
{{/p-produkte-detail }}