.content-lines-wrapper {
  // background-image: url(../img/Hintergrund_Struktur_muster@2x.png);
  background-repeat: repeat-x;
  background-position: 50% 0%;
  background-size: cover;
  position: relative;
  z-index: 600;
}