// Colors
$color-1: #000000;
$color-2: #ffffff;
$color-3: #76b52f;
$color-4: #171717;
// Fonts
$f-roboto-light: 'roboto-light';
$f-roboto-light-italic: 'roboto-light-italic';
$f-roboto-bold: 'roboto-bold';
$f-roboto-regular-normal: 'roboto-regular-normal';
$f-shadows-into-light: 'shadows-into-light';