{{#404-content-line-1}}

<section class="main-404">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 h-auto">
        {{> main-404-title}}
        <div class="mt-5">
          <a href="#" class="btn btn--default">Zur Startseite</a>
        </div>
      </div>
    </div>
  </div>
</section>

{{/404-content-line-1}}