{{#besterohstoffe-content-line-3}}
<section class="content-line content-line--besterohstoffe pb-1">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-start flex-wrap">
          <div class="pb-4 pb-xl-0 col-12 col-lg-6 order-2 order-lg-1">

            {{#title}}
            <h2>{{{title}}}</h2>
            {{/title}}

            {{#subtitle}}
            <h3>{{{subtitle}}}</h3>
            {{/subtitle}}

            {{#href}}
            <a href="#"
              class="btn btn--default-details mb-0 {{#default-btn-margin-top}}default-btn-margin-top{{/default-btn-margin-top}}">{{{href}}}</a>
            {{/href}}
          </div>

          <div class="p-0 col-12 col-lg-6 order-1 order-lg-2 ">
            <div class="content-line__background-image ">
              <img src="img/Rohstoffe_Guide.png" srcset="img/Rohstoffe_Guide.png 1x ,img/Rohstoffe_Guide@2x.png 2x"
                alt="guide">
            </div>
          </div>

        </div>
      </div>
    </div>
    {{#devider}}
    <div class="devider"></div>
    {{/devider}}
  </div>
</section>
{{/besterohstoffe-content-line-3}}