{{#besterohstoffe-content-line-1}}
<section class="content-line">
  <div class="container pt-5 pt-lg-0">
    <div class="row pt-5 pt-lg-0">
      <div class="col-12 pt-5 pt-lg-0">
        {{> title-and-image }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{> besterohstoffe-info }}
      </div>
    </div>
  </div>
</section>
{{/besterohstoffe-content-line-1}}