{{#footer}}
<footer class="footer">
  <div class="footer__bg">
    <img src="img/footer-bg.png " alt="footer background">
  </div>
  <div class="footer__content">
    <div class="container">
      <div class="row justify-content-center align-items-end">
        <div class="footer__content__line col-5 col-sm-4  order-1">
          <img src="img/Footer_Icon_Natrue.jpg" srcset="img/Footer_Icon_Natrue.jpg 1x , img/Footer_Icon_Natrue@2x.png 2x " alt="footer logo" class="img-fluid">
        </div>
        <div class="footer__content__line col-12 col-xl-4 order-3 order-xl-2 text-center">
          <p>&copy; CAPANOVA - 2018</p>
        </div>
        <div class="footer__content__line col-12 col-xl-4 text-center text-xl-right order-2 order-xl-3">
          <ul>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#">Presse</a></li>
            <li><a href="#">Impressum</a></li>
            <li><a href="#">Datenschutz</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
{{/footer}}