{{#hairstyleguide-content-line-1}}
<section class="content-line {{#content-line--padding-bottom-none}}content-line--padding-bottom-none{{/content-line--padding-bottom-none}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{> title-and-text }}
      </div>
    </div>
  </div>
</section>
{{/hairstyleguide-content-line-1}}