{{#home-content-line-3}}
<section class="content-line {{#content-line--padding-top-none}}content-line--padding-top-none{{/content-line--padding-top-none}}">
  <div class="container">
    <div class="row">
      {{#teasers-cols}}
      <div class="col-12 col-lg-6">
        {{> teaser-2 }}
      </div>
      {{/teasers-cols}}     
    </div>
    {{#devider}}
    <div class="devider"></div>
    {{/devider}}
  </div>
</section>
{{/home-content-line-3}}