{{#intro-baner}}
<section
  class="intro-baner {{#baner--margin-bottom}}baner--margin-bottom{{/baner--margin-bottom}} {{mobile-background-image}}"
  style="background-image:url('{{{bg-image}}}');">
  <div class="container h-100">
    <div class="row justify-content-end align-items-end h-100">
      <div class="col-12 col-sm-7 col-lg-8 text-center h-auto  d-none d-sm-block">
        <h1>
          Maximales Styling.
          Maximale Pflege.
        </h1>
        <h2>
          CAPANOVA bedeutet Revolution!
        </h2>
        {{#href}}
        <a href="#" class="btn btn--default-intro-baner">{{{href}}}</a>
        {{/href}}
        <div class="image text-right">
          <img src="img/Startseite_Icon_Natrue.png" alt="img-1">
        </div>
      </div>
    </div>
  </div>

<div class="wrapper-main">
  <div class="container d-block d-sm-none">
    <div class="row">
      <div class="col-12 col-sm-7 col-lg-8 text-center h-auto ">
        <div class="mobile-baner">

          <div class="mobile-baner__main">
            <div class="mobile-baner__main__title">
              <h3>
                Maximales Styling.
                Maximale Pflege.
              </h3>
            </div>
            <div class="mobile-baner__main__image text-right">
              <img src="img/Startseite_Icon_Natrue.png" alt="img-1">
            </div>
          </div>
          <h4>
            CAPANOVA bedeutet Revolution!
          </h4>
          {{#href}}
          <a href="#" class="btn btn--default-intro-baner mobile-baner__btn">{{{href}}}</a>
          {{/href}}

        </div>
      </div>
    </div>
  </div>
</div>
  {{#btn-down}}
  <a href="#" class="btn btn--down text-center scrollTo">
    <img src="img/btn-down.png" alt="down">
  </a>
  {{/btn-down}}
</section>
{{/intro-baner}}