<div class="polaroids">
  <div class="polaroids__block polaroids__block--1">
    <div class="row">
      <div class="col-12">

        {{#title}}
        <h3>{{{title}}}</h3>
        {{/title}}

        <div class="d-block d-lg-none">
          <img src="img/Mission_Polaroid_1.png" srcset="img/Mission_Polaroid_1.png 1x ,img/Mission_Polaroid_1@2x.png 2x"
            alt="polaroid 1" class="polaroid-img">
        </div>

        <p>
          Ich bin Ben, Gründer & Initiator von CAPANOVA. Macher. Visionär. Und ich gehöre zu einer neuen
        </p>
        <p>
          Ära pflegebewusster Männer, die wissen, dass zu einem gesunden Willen ein gesunder Körper gehört - von Kopf
          bis Fuß.
        </p>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <img src="img/Mission_Polaroid_1.png" srcset="img/Mission_Polaroid_1.png 1x ,img/Mission_Polaroid_1@2x.png 2x"
        alt="polaroid 1" class="polaroid-img">
    </div>

  </div>
  <div class="polaroids__block polaroids__block--2">
    <div class="row align-items-center justify-content-start">
      <div class="col-12 col-md-6 col-lg-4">
        <img src="img/Mission_Polaroid_2.png" srcset="img/Mission_Polaroid_2.png 1x ,img/Mission_Polaroid_2@2x.png 2x"
          alt="polaroid 2" class="polaroid-img">
      </div>
      <div class="col-12 col-md-6 col-lg-8 mt-4 mt-md-0">
        <p>
          Vor einigen Jahren war ich auf Reisen in Peru, als ich mir ein neues Styling Clay besorgen musste. Trotz
          hochpreisiger Friseurmarke aus einem Barber Shop nach nur wenigen Wochen der Schock: Plötzliche Ergrauung und
          Haarausfall, ein Problem, das ich vorher nicht kannte. Von meinem Arzt bestätigt, kam mir nach weitreichender
          Recherche die Erkenntnis. Die meisten handelsüblichen Menstyling-Produkte verkleben das Haar und machen ein
          Atmen unmöglich. Haare sterben ab, im schlimmsten Fall bis an die Wurzeln.
        </p>
      </div>
    </div>
  </div>
  <div class="polaroids__block polaroids__block--3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <p>
          Das musste sich ändern, und so habe ich gemeinsam mit Spezialisten über ein Jahr Arbeit in Recherche und
          Forschung investiert und ein einzigartiges Produkt entwickelt - das nährstoffreichste & natürlichste
          Menstyling, das es je gab. Ich schenke meinem Haar damit jeden Tag neues Leben, um möglichst lange gesund zu
          bleiben.
        </p>
      </div>
    </div>
  </div>
</div>