{{#produkte-uebersicht-content-line-3}}
<section class="content-line">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        {{> send-title-and-text }}
      </div>
      <div class="col-12 col-lg-6">
       {{> send-block }}
      </div>
    </div>
  </div>
</section>
{{/produkte-uebersicht-content-line-3}}