{{#produkte-detail-content-line-1}}
<section class="content-line content-line--first content-line--padding-top-none">
  <div class="container">

    <div class="row justify-content-center align-items-start">
      <div class="col-12 col-sm-6 col-md-6">
        {{> produkt-img }}
      </div>

      <div class="col-12 col-md-6 ">
        {{> main-title }}
        {{> pricing-block }}
      </div>
    </div>

  </div>
</section>
{{/produkte-detail-content-line-1}}