{{#produkte-uebersicht-content-line-1}}
<section class="content-line content-line--first">
  <div class="container">
    <div class="row">
      <div class="col-12 content-area content-area--with-icon-at-bg title-and-text list-info">
        <h3>Ein echter Gentlemen pflegt sein Haar wie sein bestes Accessoire. Das bedeutet: nur die besten Inhaltsstoffe.</h3>
        <p>Damit das tägliche Haarstyling nicht nur verschönert, sondern auch in der Tiefe pflegt, haben wir CAPANOVA entwickelt. Das nährstoffreichste und natürlichste Menstyling aller Zeiten.</p>
        <ul>
          <li> Perfektes Stylingergebnis, stark bis zum Abend </li>
          <li> All-in-one Styling + Pflege für die tägliche Anwendung </li>
          <li> Beste Rohstoffe ohne Chemie </li>
          <li>
            <a href="#">NaTrue</a> -Zertifizierung </li>
        </ul>
        <ul>
          <li>Anti-Haarausfall</li>
          <li>Anti-Ergrauen</li>
          <li>Haarwachstum anregend</li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <div class="list-info__button">
          <a href="#" class="btn btn--default">Mehr zu den Rohstoffen</a>
          <a href="#" class="btn btn--default">Zum Hairstyle Guide</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{/produkte-uebersicht-content-line-1}}