{{#produkt-info}}
<div class="produkt-info">
  
  {{#title}}
  <h2>{{{title}}}</h2>
  {{/title}}

  {{#subtitle}}
  <span>{{{subtitle}}}</span>
  {{/subtitle}}

  {{#href}}
  <a href="#" class="btn btn--default-details">{{{href}}}</a>
  {{/href}}

  {{#description}}
  <p>{{{description}}}</p>
  {{/description}}

</div>
{{/produkt-info}}