{{#teaser-1}}
<div class="teaser teaser--1 {{#teaser--teaser-title}}teaser--teaser-title{{/teaser--teaser-title}}">

  <a href="#" class="teaser--1__thumbnail" data-mh="teaser--1__thumbnail">
    <img src="{{{img}}}" alt="{{{image-alt}}}" srcset="{{{srcset}}}">
  </a>

  <div class="teaser--1__title {{#teaser--1__title--style}}teaser--1__title--style{{/teaser--1__title--style}}  text-center text-md-left">

    {{#title}}
    <a href="#" class="h4">{{{title}}}</a>
    {{/title}}

    {{#type}}
    <span>{{{type}}}</span>
    {{/type}}

  </div>

  {{#description}}
  <div class="teaser--1__desc">
    <p>{{{description}}}</p>
  </div>
  {{/description}}

  {{#more-link}}
  <a href="#" class="link link--more">{{{href}}}</a>
  {{/more-link}}

</div>
{{/teaser-1}}