{{#teaser-2}}
<div class="teaser teaser--2 {{#teaser--2--position}}teaser--2--position{{/teaser--2--position}}   " style="background-image:url('{{{bg-image}}}');">
  <div>
    <h2>{{{title-1}}}</h2>
    <h3>{{{title-2}}}</h3>
  </div>
</div>
{{/teaser-2}}