{{#title-and-text}}
<div class="title-and-text {{#title-and-text--less-margins}}title-and-text--less-margins{{/title-and-text--less-margins}}">
 
  {{#title}}
  <h1>{{{title}}}</h1>
  {{/title}}

  {{#span}}
  <span>{{{span}}}</span>
  {{/span}}

  {{#subtitle}}
  <h3>{{{subtitle}}}</h3>
  {{/subtitle}}

  {{#description}}
  <p>{{{description}}}</p>
  {{/description}}

  {{#description-2}}
  <p>{{{description-2}}}</p>
  {{/description-2}}

  {{#href}}
  <a href="#" class="btn btn--default-details">{{{href}}}</a>
  {{/href}}

</div>
{{/title-and-text}}
