{{#title-and-image}}
<div class="title-and-image  {{#title-and-image--less-margins}}title-and-image--less-margins{{/title-and-image--less-margins}}">

  <div class="row">
    <div class="col-12 col-lg-8">
      {{#title}}
      <h1>{{{title}}}</h1>
      {{/title}}
    </div>

    <div class="col-12 col-lg-4">
      <div class=" d-flex justify-content-end">
        {{#image}}
        <img src="{{{image}}}" srcset="{{{srcset}}}" alt="natrue">
        {{/image}}
      </div>
    </div> 
      
  </div>

</div>
{{/title-and-image}}