{{#unsere-produkte}}
<div class="unsere-produkte {{#unsere-produkte--less-margins}}unsere-produkte--less-margins{{/unsere-produkte--less-margins}}">
  {{#title}}
  <h2>{{{title}}}</h2>
  {{/title}}

  {{#subtitle}}
  <h3>{{{subtitle}}}</h3>
  {{/subtitle}}

  {{#description}}
  <p>{{{description}}}</p>
  {{/description}}
  
</div>
{{/unsere-produkte}}