<script src="js/vendors/jquery.min.js"></script>
<script src="js/vendors/slick.min.js"></script>
<script src="js/vendors/cookieconsent.min.js"></script>
<script src="js/vendors/jquery.matchHeight-min.js"></script>
<script src="js/vendors/sticky-kit.min.js"></script>
<script src="js/vendors/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>